{
	"_comment":" This is an example file for how Parrot RPG will handle users. ",
	"user_info": {
		"health":"100",
		"exp":"0",
		"pc":"100",
		"home_server":"394828858743980032"
	},
	"battles": {
		"battlesWon":"0",
		"battlesLost":"0"
	},
	"inventory":{
		"slot1":"Empty",
		"slot1Amount":"0",
		"slot2":"Empty",
		"slot2Amount":"0",
		"slot3":"Empty",
		"slot3Amount":"0",
		"slot4":"Empty",
		"slot4Amount":"0",
		"slot5":"Empty",
		"slot5Amount":"0",
		"slot6":"Empty",
		"slot6Amount":"0",
		"slot7":"Empty",
		"slot7Amount":"0",
		"slot8":"Empty",
		"slot8Amount":"0",
		"slot9":"Empty",
		"slot9Amount":"0",
		"slot10":"Empty",
		"slot10Amount":"0",
		"slot11":"Empty",
		"slot11Amount":"0",
		"slot12":"Empty",
		"slot12Amount":"0"
	},
	"parrots":{
		"slot1":"",
		"slot2":"",
		"slot3":"",
		"slot4":"",
		"slot5":"",
		"slot6":"",
		"slot7":"",
		"slot8":"",
		"slot9":"",
		"slot10":"",
		"slot11":"",
		"slot12":""
	},
	"battleTeam":{
		"slot1":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot2":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot3":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot4":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot5":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot6":{
			"type":"",
			"hp":"",
			"name":""
		}
	}
}