{
	"_comment":" This is an example file for how Parrot RPG will handle users. ",
	"user_info": {
		"health":"100",
		"exp":"0",
		"pc":"100",
		"home_server":"394828858743980032"
	},
	"battles": {
		"battlesWon":"0",
		"battlesLost":"0"
	},
	"inventory":{
		"slot1":"",
		"slot2":"",
		"slot3":"",
		"slot4":"",
		"slot5":"",
		"slot6":"",
		"slot7":"",
		"slot8":"",
		"slot9":"",
		"slot10":"",
		"slot11":"",
		"slot12":""
	},
	"parrots":{
		"slot1":"",
		"slot2":"",
		"slot3":"",
		"slot4":"",
		"slot5":"",
		"slot6":"",
		"slot7":"",
		"slot8":"",
		"slot9":"",
		"slot10":"",
		"slot11":"",
		"slot12":""
	},
	"battleTeam":{
		"slot1":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot2":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot3":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot4":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot5":{
			"type":"",
			"hp":"",
			"name":""
		},
		"slot6":{
			"type":"",
			"hp":"",
			"name":""
		}
	}
}